{erl_opts, [debug_info]}.
{deps, [
    {nova, {git, "git@github.com:novaframework/nova.git", {tag, "v0.12.1"}}},
    {jesse, "1.8.1"}
]}.

{dialyzer, [
    {plt_extra_apps, [
        nova,
        cowboy,
        ranch
    ]}
]}.

{project_plugins, [
    {erlfmt, "~>1.3"}
]}.

{erlfmt, [
    write,
    {files, [
        "rebar.config",
        "src/*.app.src",
        "src/**/{*.erl, *.hrl}"
    ]}
]}.
